
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.idea/*
/df-american-express-ingress.iml
.idea/
src/main/resources/df-american-express-ingress.properties
docs


de-df-american-express-ingress.iml
docs/EMCBK sample test file_final.txt
docs/EPAPE Fixed Fields.ots
docs/EPAPE sample Delimited.txt
docs/EPAPE sample Fixed.txt
docs/EPTRN-Fields.xlsx
docs/GENERALASSEMBLYA59662.CBNOT-E87HKNN37154R4
docs/GENERALASSEMBLYA59662.CBNOT-M11HEJN2158XYS
docs/GENERALASSEMBLYA59662.EPTRN-E88HI255114G43
docs/GENERALASSEMBLYA59662.EPTRN-M15HFK42332SX6
docs/GENERALASSEMBLYA60229.EMCBK#E87IA5G0654K48
docs/GENERALASSEMBLYA60229.EPAPE#E87IA4N4426921
docs/GENERALASSEMBLYA60229.EPAPE#E89IA7M5942WRJ
src/main/resources/newrelic/
src/test/resources/df-american-express-ingress-test.properties
